@use './scss/' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tab-highlight-color: transparent;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-weight: 400;
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }  
  
  button,
  input {
    outline: 0;
  }
  
  ul{
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
  }


  .skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

//loading
.skeleton-box {
  display: inline-block;
  width: 100%;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
  &.small {
    width: 50% !important;
  }
  &.img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}


  