@use '../../scss/' as *;

.write {
    padding-top: 50px;
    margin-left: 100px;
    @include tablet {
        @include flex(center,center);
        flex-direction: column;
        margin-left:0;
    }
  
    
    &-img {
        width: 85vw;
        height: 400px;
        object-fit: cover;
        object-position: cover;
        border-radius: 10px;

        @include mobile {
            
            width: 100%;
            height: 200px;
        }
    }

    &-form {
        position: relative;
        @include mobile {
           padding: 1rem;
        }


        &__group {
  
            @include flex(center,unset);
            flex-direction: column;
            width: 100%;

           
            &> label {
                width: 100%;
                @include flex(center,center);
                color: gray;
                font-size: 1.5rem;
            }
            &> label >i {
                width: 25px;
                height: 25px;
                border-radius:50%;
                border: 1px solid;
                @include flex(center,center);
                font-size: 1.5rem;
                margin-right: 5px;
                color: gray;
                cursor: pointer;
            }

            &-input {
                font-size: 2rem;
                border:none;
                width: 100%;
                padding: 20px;
            }
            &-subtitle {
                font-size: 1.5rem;
                border:none;
                width: 80vw;
                padding: 20px;
            }
            &-content {
                width: 80vw !important;
                height: 400px !important;
                border: none;
                padding: 20px;
                font-size: 1.2rem;

                &:focus {
                    outline:none;
                }
            }
        }

        &__submit {
            position: absolute;
            top: 20px;
            right: 50px;
            color: white;
            background-color: teal;
            padding:8px 12px;
            border :none;
            border-radius:5px;
            cursor: pointer;
            font-size: 1.2rem;
            transition: transform .5s ease;
            &:hover {
                transform: translateY(-3px);
            }
        }
    }
}