@use '../../scss/' as *;

.posts {
    // @include flex(center,center);
    // flex-wrap: wrap;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    gap: 40px;
    flex:9;
    padding: 2rem 4rem;
    margin-top: 3rem;
    
    & > a {
        width: 100%;
        max-width: 420px;
        max-height: 520px;
       
    }
    @include tablet {
        justify-content: space-evenly;
        gap: 30px;
        padding :2rem;
        grid-template-columns: repeat(auto-fill,minmax(340px,1fr));
    }

    @include mobile {
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
   

}