@use '../../scss/' as *;

.login {
    height: calc(100vh - 80px);
    @include flex(center,unset);
    width: 100%;
    flex-direction: column;
    background:linear-gradient(rgba(0,255,255,0.1), rgba(255,255,255,0.1)), url(../../assets/img/loginbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    color: #444;

    &-title {
        font-size: 4rem;
        font-weight: 600;
        margin-top: 20px;
    }

    &-form {
        margin-top: 20px;
        @include flex(unset,unset);
        flex-direction:column;
        width: 30%;

        &>label {
            margin: 10px 0;
            font-size: 1.5rem;
        }

        &>input {
            padding: 10px;
            border: none;
            background-color: white;
            border-radius: 5px;
            font-size: .8rem;
        }

        &>button {
            margin-top: 20px;
            cursor: pointer;
            background-color: lightcoral;
            border: none;
            font-size: 1.1rem;
            color:white;
            border-radius: 5px;
            padding: 7px 20px;
            width: 150px;
            align-self: center;
            margin-bottom: 10px;
        }
    }

    &-register__button {
            cursor: pointer;
            background-color: white;
            border: none;
            color:white;
            border-radius: 5px;
            padding: 10px 20px;
            width: 100px;
            align-self: center; 
            position:absolute;
            top: 10px;
            right : 10px;
            background-color: teal;
    }
}

.login-err {
    color: red;
    padding : 0 1rem
}